<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iden-gaku</title>
</head>

<body>
    <a id = "exportgif" href="{{ url_for('static', filename='gif/Iden.gif') }}" download="GeneticAlgorithm.gif" hidden></a>
    <p id="msg"></p>
    <input type="file" id="image" name="files[]" accept="image/*" />
    <button id="upload">Upload</button>
    <div class="selections">
        <button id="run" disabled = True>Run</button>
        <button id="stop" disabled = True>Stop</button>
        <button id="export" disabled=True>Export to GIF</button>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $('#upload').on('click', function () {
            var form_data = new FormData();
            var ins = document.getElementById('image').files.length;
            if (ins == 0) {
                $('#msg').html('<span style="color:red">Select at least one file</span>');
                return;
            }
            form_data.append("files[]", document.getElementById('image').files[0]);
            $.ajax({
                url: 'upload',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (response) {
                    console.log(response)
                    $('#run').prop('disabled', false);
                    $('#export').prop('disabled', true);
                },
                error: function (response) {
                    console.log(response)
                    $('#msg').html('<span style="color:red">Please upload an image file</span>');
                }
            });
        });

        $('#run').on('click', function () {
            $('#run').prop('disabled', true);
            $('#stop').prop('disabled', false)
            $('#upload').prop('disabled', true);
            $.ajax({
                url: 'run',
                data: { run: "run" },
                type: 'post',
                success: function (response) {
                    console.log(response)
                },
                error: function (response) {
                    console.log(response)
                }
            });

            $('#stop').on('click', function () {
                $('#run').prop('disabled', false);
                $('#stop').prop('disabled', true)
                $('#upload').prop('disabled', false);
                $('#export').prop('disabled', false);
                $.ajax({
                    url: 'stop',
                    data: { stop: "stop" },
                    type: 'post',
                    success: function (response) {
                        console.log(response)
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });

            $('#export').on('click', function () {
                $.ajax({
                    url: 'export',
                    data: { export: "export" },
                    type: 'post',
                    success: function (response) {
                        console.log(response)
                        document.querySelector("#exportgif").click();
                    },
                    error: function (response) {
                        console.log(response)
                    }
                });
            });
        });
    });
</script>

</html>