<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iden-gaku</title>
</head>

<body>
    <p id="msg"></p>
    <input type="file" id="image" name="files[]" accept="image/*" />
    <button id="upload">Upload</button>
    <div class="selections">

    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        $('#upload').on('click', function () {
            var form_data = new FormData();
            var ins = document.getElementById('image').files.length;
            if (ins == 0) {
                $('#msg').html('<span style="color:red">Select at least one file</span>');
                return;
            }
            form_data.append("files[]", document.getElementById('image').files[0]);
            $.ajax({
                url: 'upload',
                dataType: 'json',
                cache: false,
                contentType: false,
                processData: false,
                data: form_data,
                type: 'post',
                success: function (response) {
                    console.log(response)
                    // $('#msg').html(response.message);
                    $('.selections').html(`
                    <button id="run">Run</button>
                    <button id="restart">Restart</button>
                    <button id="stop">Stop</button>
                    <button id="export">Export to GIF</button>`)

                },
                error: function (response) {
                    console.log(response)
                    $('#msg').html('<span style="color:red">Please upload an image file</span>');
                }
            });
        });
    });
</script>

</html>